.search-container {
  display: flex;
  align-items: center;
}

.analytics-container small {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;

  color: #b3b3b3;
}

input[type='text'] {
  padding-left: 29px; /* Add space for the icon */
  font-size: 13px;
  color: #bdbdbd;
}

.search-icon {
  position: relative;
 left: 20px;
  font-size: 13px;
  padding-bottom: 3px;
}

.filter {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #4c4c4c;
  font-weight: 400;
  font-size: 12px;
}
